* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {

}
.left {
    padding: 1rem;
    height: 100%;
    display: inline-block;
    margin: 1rem;
    width: 25%;
    border-radius: 5px;
    border: grey;
    box-shadow: 0px 5px 20px 0px #00000070;
}
.left .imgC {
    width: 100%;
    text-align: center;
}
.left img {
    margin: auto;
    width: 50%;
}
.main {
    padding: 1rem;
    height: 100%;
    display: inline-block;
    margin: 1rem 0rem 1rem 0rem;
    width: 45%;
    border-radius: 5px;
    border: grey;
    box-shadow: 0px 5px 20px 0px #00000070;
}
.right {
    padding: 1rem;
    height: 100%;
    display: inline-block;
    margin: 1rem;
    width: 25%;
    border-radius: 5px;
    border: grey;
    box-shadow: 0px 5px 20px 0px #00000070;
}