



.box-01 {
    padding: 2rem;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
    color: #252525;
    margin-bottom: 1rem;
}
.box-02 {
    padding: 2rem;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
    color: #252525;
    margin-bottom: 1rem;
}